[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
django-environ = "*"
psycopg2 = "*"
django-crispy-forms = "*"
python-decouple = "*"
dj-database-url = "*"
django-filter = "*"
Django = "*"

[dev-packages]

[requires]
python_version = "3.7"
