{% extends 'eve_holder/main.html' %}

{% block content %}

    <br>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" style="font-family: 'Commissioner', sans-serif;">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="middle">
                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block"
                                        style="font-size: 2rem; font-weight: bold; font-family: 'Commissioner', sans-serif;">{{ event.event_name }}</h2>
                                    <h6 class="d-block" style="font-family: 'Commissioner', sans-serif;">Host
                                        by: {{ host_name }}
                                    </h6>
                                </div>
                                <div class="ml-auto">
                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard"
                                           value="Discard Changes"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="basicInfo-tab" data-toggle="tab"
                                               href="#basicInfo" role="tab" aria-controls="basicInfo"
                                               aria-selected="true">Information</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content ml-1" id="myTabContent">
                                        <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                                             aria-labelledby="basicInfo-tab">


                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;"> Name </label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ event.event_name }}
                                                </div>
                                            </div>
                                            <hr/>

                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Event ID</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ event.id }}
                                                </div>
                                            </div>
                                            <hr/>

                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Event Date</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ event.event_date }}
                                                </div>
                                            </div>
                                            <hr/>


                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Description</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ event.event_description }}
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Last day of registration</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ event.end_date }}
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Location</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ event.event_location }}
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Number of visitors</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {% if event.amount_accepted is not None %}
                                                        {{ event.visitor_set.all.count }} / {{ event.amount_accepted }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Status</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {% if event.visitor_set.all.count < event.amount_accepted or event.amount_accepted is None %}
                                                        <p>Available</p>
                                                    {% else %}
                                                        <p>Full</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <hr/>
                                            {% if event.visitor_set.all.count < event.amount_accepted or event.amount_accepted is None %}
                                                {% if visitor not in event.visitor_set.all %}
                                                    <div class="row">
                                                    <div class="col-sm-3 col-md-2 col-5">
                                                        <a class="btn btn-sm btn-info"
                                                           href="{% url 'eve_holder:event_register' event.id %}">Join
                                                            Now</a>
                                                    </div>
                                                {% else %}
                                                    <div class="row">
                                                    <div class="col-sm-3 col-md-2 col-5">
{#                                                        <a class="btn btn-sm btn-danger"#}
{#                                                           href="{% url 'eve_holder:event_cancel' event.id %}">Cancel</a>#}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <div>
                                                <a class="btn btn-sm btn-secondary"
                                                   href="{% url 'eve_holder:visitor_registered_events' %}">Back</a>
                                            </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

{% endblock %}
