{% extends 'eve_holder/main.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Event</title>
</head>
{% block content %}
    <br>
    <div class="container-join">
        <div class="top">
            <div class="inspiration-text-join">
                <div id="sentence-join">"The only impossible journey is the one you never begin."</div>
                <div class="author-join">-Tony Robbins-</div>
            </div>
            <img src="{% static "images/event/join_event.jpg" %}" alt="join event image">
        </div>
        <div class="bottom scroll">
            <div class="join-element">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="col-sm-12" style="align-items: center"><h3>{{ event.event_name }}</h3></div>

                    <label class="join-label col-sm-6">Name to be used in the event</label>
                    {{ form.name }}
                    <label class="join-label col-sm-6">Email</label>
                    {{ form.email }}
                    <label class="join-label col-sm-6">Phone number</label>
                    {{ form.phone_num }}
                    <button type="submit" class="btn-join">Join</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

</html>