{% extends 'eve_holder/main.html' %}
{% load static %}
{% block content %}
    <br>
        <div class="col-md-12">
            <div id="update-header">
                <h5> Update Account Information: </h5>
                <hr>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="update-main">
                     <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5 col-3">
                                <label class="col-form-label update-label" style="font-weight:bold;">Username: </label>
                            </div>
                            <div class="col-md-7 col-6">
                                {{ user_form.username }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-3">
                                <label class="col-form-label update-label" style="font-weight:bold;">First Name: </label>
                            </div>
                            <div class="col-md-7 col-6">
                                {{ user_form.first_name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-3">
                                <label class="col-form-label update-label" style="font-weight:bold;">Last Name: </label>
                            </div>
                            <div class="col-md-7 col-6">
                                {{ user_form.last_name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-3">
                                <label class="col-form-label update-label" style="font-weight:bold;">Phone Number: </label>
                            </div>
                            <div class="col-md-7 col-6">
                                {{ form.phone_num }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-3">
                                <label class="col-form-label update-label" style="font-weight:bold;">Email: </label>
                            </div>
                            <div class="col-md-7 col-6">
                                {{ user_form.email }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-3">
                                <label class="col-form-label update-label" style="font-weight:bold;">Profile picture: </label>
                            </div>
                            <div class="col-md-7 col-6">
                                {{ form.profile_pic }}
                            </div>
                        </div>
                        <hr>
                         <button type="submit" class="btn-update mt-3 mb-3" name="click" style="line-height: 28px">Up date</button>
                     </div>
                </div>
            </form>
        </div>

{% endblock %}
