{% extends 'accounts/main.html' %}
{% block content %}
    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Events</h5>
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>Event</th>
                        <th>Publish Date</th>
                        <th>Host</th>
                    </tr>

                </table>
            </div>
        </div>

    </div>
{% endblock %}

