@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap');

:root {
    --clr-light: #fff;
    --br: .5em;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 2;
}

.container-fluid {
    padding: 0;
}

body {
    font-family: 'Commissioner', sans-serif;
    min-height: 100vh;
    /*display: grid;*/
    place-items: center;
    background: #ffc93c;
    color: var(--clr-light);
}

.above {
    display: flex;
    justify-content: center;
    align-items: center;
}

#inspire-pic {
    top: 0;
    filter: brightness(40%);
}

.inspiration-text {
    display: flex;
    justify-content: center;
    font-family: 'Castoro', serif;
    flex-direction: column;
    z-index: 1;
    position: absolute;

}

#sentence1, #sentence2 {
    font-size: 30px;
}

.inspiration-text > .author {
    font-size: 18px;
    padding-top: 15px;
}

.inspiration-text > .section-separator {
    font-size: 70px;
}

.event-cards {
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 100px;
    grid-column-gap: 30px;
    display: grid;
    grid-auto-rows: minmax(350px, auto);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-row-gap: 70px;
    margin-bottom: 70px;
}

#event-container {
    border-radius: var(--br);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
}

p {
    margin: 0;
}

.event-name {
    font-weight: bold;
    color: #142850;
    word-wrap: break-word;
    font-family: 'Courgette', cursive;
    font-size: 27px;
}

.host-name {
    font-size: 15px;
}

.stats {
    margin-top: -13px;
}

.event {
    position: relative;
    width: 12.5em;
    object-fit: cover;
}

img {
    max-width: 100%;
}

.back > .host-picture > .streamer {
    font-size: .9rem;
}

.host-picture {
    display: flex;
    text-align: center;
}

.host-picture > img, .host-picture > .streamer > .icon > img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 1px solid #142850;
}

.front {
    transition: 250ms;
}

.front > .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #142850;
}

.front > .thumbnail {
    border-radius: var(--br);
    /*height: 50%*/
}

.front > .event-name {
    margin: .75em 0;
}

.more-detail {
    border: 0;
    background: darkorange;
    border-radius: 100vw;
    color: var(--clr-light);
    padding: .5em 1.5em;
}

.more-detail:hover {
    text-decoration: none;
    color: black;
}

.back {
    opacity: 0;
    position: absolute;
    top: 52%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
    transition: transform 250ms ease, opacity 150ms linear;
}

.event-info {
    margin: 0.5em 0;
    columns: 2;
    column-rule: 1px solid #2c6ed5;
    color: #142850;
}

.back > .event-info > .amount {
    font-size: 25px;
    text-align: center;
}

.back > .event-info > .amount > span {
    font-size: .85rem;
    display: block;
}

.back > .host-picture {
    width: 100%;
    justify-content: space-around;
}

.event-container:hover > .event > .front > .event-name {
    animation: event_name 250ms forwards;
    color: #142850;
}

.event-container:hover > .event > .front {
    transform: translateY(-30%) scale(.8);
}

.event-container:hover > .event > .front > .stats > .host-picture, .event-container:hover > .event > .front > .stats {
    opacity: 0;
}

.event-container:hover > .event > .back {
    opacity: 1;
}

.short-description {
    text-align: left;
    color: #142850;
    font-size: 11px;
    font-family: 'Commissioner', sans-serif;
}

@keyframes event_name {
    0% {
        text-align: left;
        opacity: 1;
    }
    20% {
        text-align: left;
        opacity: 0;
    }
    50% {
        text-align: center;
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        text-align: center;
        opacity: 1;
        transform: scale(1.2);
    }
}