* {
    padding: 0;
    margin: 0;
}

body {
    /*background-image: linear-gradient(45deg, rgba(7, 18, 85, 0.6), rgba(37, 67, 255, 0.7));*/
    /*background: #031b88;*/
    background-image: linear-gradient(45deg, #071255, #333d7c);
    /*max-height: 100%;*/
    max-width: 100%;
    display: block;
    object-fit: cover;
    /*background-repeat: no-repeat;*/
}

.regform {
    width: 580px;
    /*background-color: #fdebaa;*/
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px 10px 0 0;
    color: #031b88;
    padding: 10px 0 10px 0;
    text-align: center;
    margin: -12px auto auto;
    height: 42px;
    top: 10px;
}

.main {
    width: 580px;
    height: 450px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: antiquewhite;
    display: flex;
    margin: auto;
    padding: 10px 10px 10px 10px;
}

.namecol {
    color: #031b88;
    font-size: 15px;
    font-weight: bold;
}

.fill {
    line-height: 20px;
}

.row {
    margin: auto;
    width: 650px;
    color: white;
    font-weight: bold;
    align-items: center;
    align-content: center;
}

.namesm {
    color: #031b88;
    font-size: 12px;
}

.btn1 {
    border: none;
    outline: none;
    height: 26px;
    width: 100%;
    background-color: #ffffff;
    font-weight: bold;
    margin: auto;
    border-radius: 20px;
}

.btn1:hover {
    background: navy;
    border: 1px solid;
    color: white;
}
