/* for nav bar */
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
/*for start now */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

body{
    background-color: #142850;
}

#navbar-brand{
    font-family: 'Kalam', cursive;
    color: #ffc93c;
}

#navbar-login{
    font-family: 'Kalam', cursive;
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

#navbar-login:hover {
    transition: 1s;
    /*transition-timing-function: linear;*/
    background-color: #ffc93c;
}

#navbar-signup{
    font-family: 'Kalam', cursive;
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

#navbar-signup:hover {
    transition: 1s;
    /*transition-timing-function: linear;*/
    background-color: #ffc93c;
}

/*content*/

#host-headline{
    color: #ffc93c;
}

#above{
    width: 100%;
    height: 50%;
    position: fixed;
}

#below{
    bottom: 0;
    width: 100%;
    height: 50%;
    position:absolute;
    background-color: #ffc93c;
    /*background-color: #ecd42e;*/

}

#start-now{
    background-color: #00a8cc;
    font-family: 'Nanum Pen Script', cursive;
    border-color: transparent;
}

.center{
    
}
/*.content{*/
/*    display: grid;*/
/*    grid-template-rows: 1fr 1fr;*/
/*    margin: 0;*/
/*}*/