/* for nav bar */
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
/* for content headline */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nanum+Pen+Script&display=swap');
/* for content description */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');
/* for welcome */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Dancing+Script:wght@500&family=Zilla+Slab&display=swap');

#navbar{
    position: sticky;
    z-index: 2;
    top: 0;
}

#navbar-content{
    display: flex;
}

#navbar-content-right{
    display: flex;
    justify-content: flex-end;
}

#navbar-brand{
    font-family: 'Kalam', cursive;
    color: #035aa6;
}

#navbar-login{
    font-family: 'Kalam', cursive;
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

#navbar-login:hover {
    transition: 1s;
    /*transition-timing-function: linear;*/
    background-color: #ffc93c;
    border-radius: 10px;
}

#navbar-signup{
    font-family: 'Kalam', cursive;
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

#navbar-signup:hover {
    transition: 1s;
    /*transition-timing-function: linear;*/
    background-color: #ffc93c;
    border-radius: 10px;
}

#navbar-content-right-visitor, #navbar-content-right-host{
    display: flex;
    justify-content: flex-end;
}

#navbar-visitor, #navbar-host{
    font-family: 'Kalam', cursive;
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

#navbar-visitor:hover, #navbar-host:hover {
    transition: 1s;
    /*transition-timing-function: linear;*/
    background-color: #ffc93c;
    border-radius: 10px;
}

/*content*/
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
    filter: brightness(40%);
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* block 1 */

#block1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#block1-text{
    /*display: flex;*/
    justify-items: center;
    align-items: center;
    z-index: 1;
    position: absolute;
}

#block1-welcome{
    font-size: 120px;
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

#block1-to{
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: 'Zilla Slab', serif;
}

#block1-brand{
    font-size: 90px;
    color: #ffc93c;
    text-align: center;
    /*position: absolute;*/
    font-family: 'Zilla Slab', serif;
}

/* block 2 */
#block2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#block2-text{
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    flex-direction: column;

}
#block2-headline{
    font-size: 100px;
    display: flex;
    color: #12cad6;
    z-index: 1;
    font-family: 'Kaushan Script', cursive;
}
#block2-description{
    font-size: 20px;
    display: flex;
    color: white;
    z-index: 1;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
}

/* block 3 */
#block3{
    display: flex;
    justify-content: center;
    align-items: center;
}

#block3-text{
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
}

#block3-headline{
    font-size: 100px;
    display: flex;
    color: #efb1ff;
    z-index: 1;
    font-family: 'Kaushan Script', cursive;
}

#block3-description{
    font-size: 20px;
    display: flex;
    color: white;
    z-index: 1;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
}
 /*short description about brand*/
#brand-information{
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand-information-text{
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
}

#brand-information-headline{
    font-size: 100px;
    display: flex;
    color: #21bf73;
    z-index: 1;
    font-family: 'Kaushan Script', cursive;
}

#brand-information-description{
    font-size: 20px;
    display: flex;
    color: white;
    z-index: 1;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
}
