/* for nav bar */
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
/* for content headline */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nanum+Pen+Script&display=swap');

body{
    background-color: #142850;
}

#navbar-content{
    display: flex;
}

#navbar-content-right{
    display: flex;
    justify-content: flex-end;
}

#navbar-brand{
    font-family: 'Kalam', cursive;
    color: #ffc93c;
}

#navbar-login{
    font-family: 'Kalam', cursive;
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

#navbar-login:hover {
    transition: 1s;
    /*transition-timing-function: linear;*/
    background-color: #ffc93c;
    border-radius: 10px;
}

#navbar-signup{
    font-family: 'Kalam', cursive;
    text-decoration: none;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

#navbar-signup:hover {
    transition: 1s;
    /*transition-timing-function: linear;*/
    background-color: #ffc93c;
    border-radius: 10px;
}

/*content*/
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
    filter: brightness(70%);
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* block 1 */
#block1-text{
    font-size: 100px;
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    color: white;
    z-index: 1;
}

#block1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* block 2 */
#block2-text{
    font-size: 100px;
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    color: white;
    z-index: 1;
    font-family: 'Kaushan Script', cursive;

    /*position: sticky;*/
    /*bottom: 100px;*/
}

#block2{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: url("/static/images/pic.jpg");*/
}

/* block 3 */
#block3-text{
    font-size: 100px;
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    color: white;
    z-index: 1;
    font-family: 'Kaushan Script', cursive;
}

#block3{
    display: flex;
    justify-content: center;
    align-items: center;
}