#logo {
}

body {
    background-color: #ebeff5;
}

#total-events {
    background-color: #4cb4c7;
}

#events-registered {
    background-color: #7abecc;
}

#history-events {
    background-color: #7cd1c0;
}

