#eve_logo {
    max-width: 100%;
    height: auto;
}

body {
    background-color: #ebeff5;
}

#total-events {
    background-color: #6172be;
}

#events-registered {
    background-color: #517ccf;
}

#history-events {
    background-color: #809ed7;
}

#recent-event-table {
    margin-right: auto;
    margin-left: auto;
}

#hello-msg {
    font-size: 16px;
    color: white;
    margin-right: 20px;
}

.login-msg {
    color: white;
    margin-right: 20px;
}