*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../images/pic4.jpg");
    background-position: center;
    max-height: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.regform{
    width: 580px;
    background-color: rgba(20,40,80,1);
    margin: auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    margin-top: 4.5%;
}

.main{
    width: 580px;
    background-color: rgba(20,40,80,0.8);
    display: flex;
    margin: auto;
    padding: 10px 10px 10px 10px;
}

.row{
    margin: auto;
    margin-top: 4px;
    width: 650px;
    color: white;
    font-weight: bold;
    top: 10px;
    align-items: center;
    align-content: center;
}

.namecol{
    font-family: Commissioner;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.namesm{
    font-family: Commissioner;
    color: white;
    font-size: 12px;
}

.btn1{
    border: none;
    outline: none;
    height: 26px;
    width: 100%;
    background-color: #cccccc;
    font-weight: bold;
    margin: auto;
    border-radius: 20px;
}

.btn1:hover {
    background: navy;
    border: 1px solid;
    color: white;
}

.btnrow{
    margin: auto;
    margin-top: 25px;
    margin-left: 5%;
    width: 650px;
    align-self: center;
}

.backtext{
    font-size: 12px;
    font-family: Commissioner;
    color: #cccccc;
    vertical-align: text-bottom;
}
.option {
    position: relative;
}
