body{
    font-family: Commissioner;
    color: #ffffff;
    background-color: #233f74;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #6172be !important;
}

.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background-image: linear-gradient(180deg, #233f74, #809ed7);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.form_container {
    margin-top: 20px;
}

#form-title {
    color: #fff;

}

.login_btn {
    width: 100%;
    background: #6172be !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #efbbc6 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

#messages {
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.profile-pic{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

img{
    width: 100%;
    align-self: center;
}

.row{
    margin: auto;
    margin-top: 25%;
    width: 640px;
    border-radius: 30px;
}

.card-body{
    margin: auto;
    align-content: center;
}

.card-col{
    background: #eaf0ca;
}
