SECRET_KEY=any-random-string-will-work
# set DEBUG to True for testing and local development
DEBUG=False
ALLOWED_HOSTS=127.0.0.1
DATABASE_URL=psql://postgre:password@127.0.0.1:5432/database_name
TIME_ZONE=Asia/Bangkok

#AWS_ACCESS_KEY_ID=your-s3-access-key
#AWS_SECRET_ACCESS_KEY=your-s3-secret-access-key
#AWS_STORAGE_BUCKET_NAME=eve-holder-bucket