{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p style="text-align: center"> Welcome {{ user.username }}!</p>
    <p style="text-align: center">user event here</p>
    <p style="text-align: center"><input type="button" value="Logout" onclick= "location.href = '{% url 'logout' %}'"></p>
    <p style="text-align: center"><input type="button" value="Reset Password" onclick= "location.href = '{% url 'password_reset' %}'"></p>
{#    back to index page#}
{% else %}
  <p style="text-align: center">Please login</p>
    <p style="text-align: center">#index page must be here</p>
  <p style="text-align: center"><input type="button" value="Login here" onclick= "location.href = '{% url 'login' %}'"></p>
{% endif %}
{% endblock %}