{% extends 'eve_holder/main.html' %}
{% load static %}

<html lang="en">

    <head>
        <title>Registration</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
{% block content %}
    <br>
        <div class="regform-create">
            <span style="font-size: 16px; font-weight: bold">Create Event Form</span>
        </div>
        <div class="main-create scroll">
            <form action="" method="post">
                {% csrf_token %}

                <div class="row row1">
                    <div class="form-group col-md-4" style="margin-left: 20px">
                        <label class="col-form-label create-label ">Event Name: </label>
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.event_name }}
                    </div>
                </div>

                <div class="row row1">
                    <div class="form-group col-md-4" style="margin-left: 20px">
                        <label class="col-form-label create-label ">Description: </label>
                    </div>
                    <div class="form-group col-md-6 " style="margin-top: -10px">
                        {{ form.event_description }}
                    </div>
                </div>

                <div class="row row1">
                    <div class="form-group col-md-4" style="margin-left: 20px">
                        <label class="col-form-label create-label ">Location: </label>
                    </div>
                    <div class="form-group col-md-6" style="margin-top: -10px">
                        {{ form.event_location }}
                    </div>
                </div>

                <div class="row row1">
                    <div class="form-group col-md-4" style="margin-left: 20px">
                        <label class="col-form-label create-label ">Event Date: </label>
                    </div>
                    <div class="form-group col-md-6" style="margin-top: -10px">
                        {{ form.event_date }}
                    </div>
                </div>

                <div class="row row1">
                    <div class="form-group col-md-4" style="margin-left: 20px">
                        <label for="" class="col-form-label create-label ">Date: </label>
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.pub_date }}
                        <label class="namesm label">Publish Date</label>
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.end_date }}
                        <label class="namesm label">End Date</label>
                    </div>
                </div>

                <div class="row row1">
                    <div class="form-group col-md-4" style="margin-left: 20px" >
                        <label class="col-form-label create-label ">Event Amount Accept: </label>
                    </div>
                    <div class="form-group col-md-6" style="margin-top: -10px">
                        {{ form.amount_accepted }}
                    </div>
                </div>

                <div class="row row1">
                    <div class="form-group col-md-4" style="margin-left: 20px" >
                        <label class="col-form-label create-label ">Event Picture: </label>
                    </div>
                    <div class="form-group col-md-6" style="margin-top: -10px">
                        {{ form.event_image }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10" style="color: white">
                        {% for message in messages %}
                            <p id="messages">{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        {% if btn == "Create" %}
                        <button type="submit" class="btn1 mt-3 mb-3" name="click" style="line-height: 30px">Create Event</button>
                        {% elif btn == "Edit" %}
                        <button type="submit" class="btn1 mt-3 mb-3" name="click" style="line-height: 30px">Edit Event</button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
{% endblock %}
</html>
