{% extends 'eve_holder/main.html' %}

{% block content %}
    <br>
    <body style="background-color: #035aa6">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card" style="font-family: 'Commissioner', sans-serif">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <!--                                <div class="middle">-->
                                <!--                                </div>-->
                                <div class="userData ml-3">
                                    <h1 class="d-block"
                                        style="font-size: 2rem; font-weight: bold; font-family: 'Commissioner', sans-serif">
                                        {{ event.event_name }}</h1>
                                    <h6 class="d-block" style="font-family: 'Commissioner', sans-serif">Host
                                        by: {{ host_name }}
                                    </h6>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="basicInfo-tab" data-toggle="tab"
                                               href="#basicInfo" role="tab" aria-controls="basicInfo"
                                               aria-selected="true">Information</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="picture-tab" data-toggle="tab" href="#picture"
                                               role="tab" aria-controls="picture" aria-selected="false">Picture</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content ml-1" id="myTabContent">
                                        <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                                             aria-labelledby="basicInfo-tab">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;"> Name </label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ event.event_name }}
                                                </div>
                                            </div>
                                            <hr/>

                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Event ID</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ event.id }}
                                                </div>
                                            </div>
                                            <hr/>

                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Event Date</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ event.event_date }}
                                                </div>
                                            </div>
                                            <hr/>


                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Description</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ event.event_description }}
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Last day of registration</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{ event.end_date }}
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Number of visitors</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {% if event.amount_accepted is not None %}
                                                        {{ event.visitor_set.all.count }} / {{ event.amount_accepted }}
                                                    {% else %}
                                                        -
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% if  event.event_host.name == host_name %}
                                                <hr>
                                                <div class="row">
                                                    <div class="col-sm-3 col-md-2 col-5">
                                                        <a class="btn btn-sm btn-warning"
                                                           style="padding-right: 15px; padding-left: 15px"
                                                           href="{% url 'eve_holder:edit_event' event.id %}">Edit</a>
                                                    </div>
                                                </div>
                                            {% endif %}

                                        </div>
                                        <div class="tab-pane fade" id="picture" role="tabpanel"
                                             aria-labelledby="picture-tab">
                                            <img src="{{ event.event_image.url }}" style="max-width: 100%"
                                                 alt="event images">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
