{% extends 'eve_holder/main.html' %}

{% block content %}

    <br>

<body style="background-color: #035aa6">
    <div class="row">
        <div class="col-md">
            <div class="card card-body" style="font-family: 'Commissioner', sans-serif">
                <h3 style="font-family: 'Commissioner', sans-serif">My Events</h3>
                <br>
                <table class="table table-sm">
                    <tr>
                        <th>Event Name</th>
                        <th>Event Date</th>
                        <th>More Detail</th>
                        <th>Edit</th>
                        <th>Visitors</th>
                        <th>Delete ?</th>
                    </tr>

                    {% for event in events %}
                        <tr>
                            <td>{{ event.event_name }}</td>
                            <td>{{ event.event_date }}</td>
                            <td><a class="btn btn-sm btn-primary"
                                   href="{% url 'eve_holder:event_detail' event.id %}">View</a></td>
                            <td><a class="btn btn-sm btn-warning"
                                   href="{% url 'eve_holder:edit_event' event.id %}">Edit</a></td>
                            <td><a class="btn btn-sm btn-info"
                                   href="{% url 'eve_holder:visitors_list' event.id %}">View</a></td>
                            <td><a class="btn btn-sm btn-danger" data-target=".delete-modal{{ event.id }}"
                                   data-toggle="modal" style="color: white;">Delete</a>
                            </td>
                        </tr>
                        <div tabindex="-1" class="modal delete-modal{{ event.id }}" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header"><h4>Delete Event</h4></div>
                                    <div class="modal-body">
                                        Are you sure you want to Delete {{ event.event_name }}?
                                    </div>
                                    <div class="modal-footer"><a class="btn btn-primary btn-block"
                                                                 href="{% url 'eve_holder:delete_event' event.id %}">Delete!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
{% endblock %}