{% extends 'eve_holder/main.html' %}

{% block content %}

    {% include 'eve_holder/status.html' %}

    <br>

    <div class="row">

        <div class="col-md-10">
            <h5>LAST 5 EVENTS</h5>
            <hr>
            <div class="card card-body">
                <table class="table table-sm" id="recent-event-table">

                    <tr>
                        <th>Event</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>

                    {% for event in events %}
                        <tr>
                            <td>{{ event.event_name }}</td>
                            <td>{{ event.event_description }}</td>
                            <td>{{ event.can_register }} </td>
                            <td><a class="btn btn-sm btn-primary"
                                   href="{% url 'eve_holder:event_detail' event.id %}">View</a></td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

    </div>

{% endblock %}