{% extends 'eve_holder/main.html' %}
{% load static %}
{% block content %}

    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">

                <p>are you sure you want to delete "{{ item }}"</p>

                <form action="{% url 'eve_holder:delete_event' item.id %}" method="post">

                    {% csrf_token %}
                    <a class="btn btn-warning" href="{% url 'eve_holder:home' %}">Cancel</a>

                    <input class="btn btn-danger" type="submit" name="Confirm">

                </form>

            </div>
        </div>
    </div>

{% endblock %}