{% extends 'eve_holder/main.html' %}
{% load static %}
{% block content %}

    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.event_name.label }}
                    {{ form.event_name }}
                    <br>
                    {{ form.event_host }}
                    {{ form.event_description.label }}
                    {{ form.event_description }}
                    <br>
                    {{ form.event_date.label }}
                    {{ form.event_date }}
                    <br>
                    {{ form.pub_date.label }}
                    {{ form.pub_date }}
                    <br>
                    {{ form.end_date.label }}
                    {{ form.end_date }}

                    <br>
                    {{ form.amount_accepted.label }} (minimum is 1)
                    {{ form.amount_accepted }}


                    <input class="btn btn-info" type="submit" name="Submit">
                </form>

            </div>
        </div>
    </div>

{% endblock %}
