{% load static %}
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/homepage.css' %}">
</head>
<body>

<nav class="navbar navbar-light bg-light" id="navbar">
    <span class="navbar-brand mb-0 h1" id="navbar-content">
        <span id="navbar-brand">EVEHOLDER</span>
        </span>
        {% if not user.is_authenticated %}
        <div id="navbar-content-right">
            <a id="navbar-login" href="{% url 'eve_holder:login' %}">LOGIN</a>
{#            <a id="navbar-signup" href="{% url 'eve_holder:register' %}">SIGNUP</a>#}
        </div>
        {% else %}
            {% if user.group.all == "Visitors" %}
                <div id="navbar-content-right-visitor">
                    <a id="navbar-visitor" href="{% url 'eve_holder:visitor' %}">let's go!</a>
                </div>
            {% else %}
                <div id="navbar-content-right-host">
                    <a id="navbar-host" href="{% url 'eve_holder:host' %}">let's go!</a>
                </div>
            {% endif %}

        {% endif %}
</nav>
<form method="POSt" action="">
    {% csrf_token %}
<div id="content">
    <div id="block1">
        <div id="block1-text">
            <div id="block1-welcome">
                welcome
            </div>
            <div id="block1-to">
                to
            </div>
            <div id="block1-brand">
                EVEHOLDER
            </div>
        </div>
        <img src="{% static 'eve_holder/../../static/images/block1.jpg' %}">
    </div>
    <div id="brand-information">
        <div id="brand-information-text">
            <div id="brand-information-headline" data-aos="fade-up" data-aos-duration="1100">
                EVEHOLDER
            </div>
            <div id="brand-information-description" data-aos="fade-up" data-aos-duration="1300">
                A web application for creating and joining events.
            </div>
        </div>
        <img src="{% static 'eve_holder/../../static/images/brandinfo.jpg' %}">
    </div>
    <div id="block2">
        <div id="block2-text">
            <div id="block2-headline" data-aos="fade-up" data-aos-duration="1100">
                HOST
            </div>
            <div id="block2-description" data-aos="fade-up" data-aos-duration="1300">
                Start being a host in a blink by filling your event's information.
                <br> Your event is now ready to go.
            </div>
            <div id="block2-description" data-aos="fade-up" data-aos-duration="1300">
                <button type="submit" class="btn1 mt-3 mb-3 btn1 form-control" name="click" value="host">Register as a Host</button>
            </div>
        </div>
        <img src="{% static 'eve_holder/../../static/images/block2.jpg' %}">
    </div>
    <div id="block3">
        <div id="block3-text">
            <div id="block3-headline" data-aos="fade-up" data-aos-duration="1100">
                VISITOR
            </div>
            <div id="block3-description" data-aos="fade-up" data-aos-duration="1300">
                “Somewhere, something incredible is waiting to be known.” – Sharon Begley <br>
                Are you ready to discover a new thing?
            </div>
            <div id="block2-description" data-aos="fade-up" data-aos-duration="1300">
                <button type="submit" class="btn1 mt-3 mb-3 btn1 form-control" name="click" value="visitor">Register as a Visitor</button>
            </div>
        </div>
        <img src="{% static 'eve_holder/../../static/images/lastblock.jpg' %}">
    </div>

</div>
</form>
</body>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</html>