{% load static %}
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/homepage.css' %}">
</head>
<body>

<nav class="navbar navbar-light bg-light" id="navbar">
    <span class="navbar-brand mb-0 h1" id="navbar-content">
        <span id="navbar-brand">EVEHOLDER</span>
        </span>
        {% if not user.is_authenticated %}
        <div id="navbar-content-right">
            <a id="navbar-login" href="{% url 'eve_holder:login' %}">LOGIN</a>
            <a id="navbar-signup" href="{% url 'eve_holder:register' %}">SIGNUP</a>
        </div>
        {% endif %}
</nav>
<div id="content">
    <div id="block1">
        <div id="block1-text">
            HELLOWORLD
        </div>
        <img src="{% static 'eve_holder/../../static/images/block1.jpg' %}">
    </div>
    <div id="block2">
        <div id="block2-text" data-aos="fade-up" data-aos-duration="1100">
            HOST
        </div>
<!--        <div id="block2-description" data-aos="fade-up" data-aos-duration="1100">-->
<!--            eiei-->
<!--        </div>-->

        <img src="{% static 'eve_holder/../../static/images/block2.jpg' %}">
    </div>
    <div id="block3">
        <div id="block3-text" data-aos="fade-up" data-aos-duration="1100">
            VISITOR
        </div>
        <img src="{% static 'eve_holder/../../static/images/lastblock.jpg' %}">
    </div>

</div>

</body>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</html>