{% extends 'eve_holder/main.html' %}

{% block content %}

    <br>
    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Your Events</h5>
                <table class="table table-sm">
                    <tr>
                        <th>Event</th>
                        <th>Description</th>
                        <th>Event Date</th>
                        <th>Edit</th>
                        <th>Visitors</th>
                        <th>Delete ?</th>
                    </tr>

                    {% for event in events %}
                        <tr>
                            <td>{{ event.event_name }}</td>
                            <td>{{ event.event_description }}</td>
                            <td>{{ event.event_date }}</td>
                            <td><a class="btn btn-sm btn-warning"
                                   href="{% url 'eve_holder:edit_event' event.id %}">Edit</a></td>
                            <td><a class="btn btn-sm btn-info"
                                   href="{% url 'eve_holder:visitors_list' event.id %}">View</a></td>
                            <td><a class="btn btn-sm btn-danger"
                                   href="{% url 'eve_holder:delete_event' event.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}


                </table>
            </div>
        </div>
    </div>

{% endblock %}