{% extends 'eve_holder/main.html' %}

{% block content %}

    <br>

    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Your Events</h5>
                <table class="table table-sm">
                    <tr>
                        <th>Event</th>
                        <th>Description</th>
                        <th>Event Date</th>
                        <th>Edit</th>
                        <th>Visitors</th>
                        <th>Delete ?</th>
                    </tr>

                    {% for event in events %}
                        <tr>
                            <td>{{ event.event_name }}</td>
                            <td>{{ event.event_description }}</td>
                            <td>{{ event.event_date }}</td>
                            <td><a class="btn btn-sm btn-warning"
                                   href="{% url 'eve_holder:edit_event' event.id %}">Edit</a></td>
                            <td><a class="btn btn-sm btn-info"
                                   href="{% url 'eve_holder:visitors_list' event.id %}">View</a></td>
                            <td><a class="btn btn-sm btn-danger" data-target=".bs-logout-modal-sm" data-toggle="modal" style="color: white;">Delete</a>
                            <div tabindex="-1" class="modal bs-logout-modal-sm" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header"><h4>Delete Event<i class="fa fa-lock"></i></h4></div>
                                        <div class="modal-body">
                                            <i class="fa fa-question-circle">
                                            Are you sure you want to Delete {{event.event_name}}?
                                            </i>
                                        </div>
                                        <div class="modal-footer"><a class="btn btn-primary btn-block"
                                                                        href="{% url 'eve_holder:delete_event' event.id %}">Delete!</a></div>
                                    </div>
                                </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}


                </table>
            </div>
        </div>
    </div>

{% endblock %}