{% extends 'eve_holder/main.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Event</title>
</head>
{% block content %}
    <br>
    <div class="container-join">
        <div class="top">
            <div class="inspiration-text">
                <div id="sentence">"The journey of a thousand miles begins with one step."</div>
                <div class="author">-Lao Tzu-</div>
            </div>
            <img src="{% static "images/join_event.jpg" %}">
        </div>
        <div class="bottom">
            <div class="login-element">
                <form method="POST" action="">
                    {% csrf_token %}
                    <h3>Join Event</h3>
                    {{ form.name }}
                    {{ form.email }}
                    {{ form.phone_num }}
                    <button type="submit" class="btn-join">Join</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

</html>