{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <title>login</title>
  </head>
  <body>
    <section class="Form my-7 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="/static/images/pic5.jpg" class="img-fluid">
                </div>
                <div class="col-lg-7 px-5 pt-3">
                    <h3 class="font-weight-bold py-3">Login</h3>
                    <h5>Sign into your account</h5>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-lg-8">
                                <input type="text" name="username" placeholder=" Username..." class="username my-3">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-8">
                                <input type="password"  name="password" placeholder=" Password..." class="username my-3">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-9">
                                <button type="submit" class="btn1 mt-3 mb-3">Login</button>
                            </div>
                        </div>
                        <a href="#">Forget Password</a>
                         or <a href="{% url 'eve_holder:homepage' %}">Back</a>
                        <p>Don't have an account? <a href="{% url 'eve_holder:register' %}">Register here</a></p>
                    </form>
                </div>
                {% for message in messages %}
                <p id="messages">{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>