<div class="col-md">
    <div class="card card-body scroll" style="height: 275px">
        <h5>Notifications</h5>
        <hr>

        {% for notify in notifications %}
            {% if notify.level == 'info' %}
                <div class="info w3-animate-opacity w3-round msg-box">
                    <strong>Info: </strong> {{ notify }}
                    <a class="closebtn" href="{% url 'eve_holder:close_notification' notify.id %}"
                       onclick="this.parentElement.style.display='none';">&times;</a>
                </div>
            {% elif notify.level == 'warning' %}
                <div class="warning w3-animate-opacity w3-round msg-box">
                    <strong>Warning: </strong> {{ notify }}
                    <a class="closebtn" href="{% url 'eve_holder:close_notification' notify.id %}"
                       onclick="this.parentElement.style.display='none';">&times;</a>
                </div>
            {% endif %}
        {% endfor %}

    </div>
</div>