<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-events">
                <div class="card-header">
                    <h5 class="card-title">Total Events</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_events }}</h3>
                </div>
            </div>
        </div>
    </div>

{#    <div class="col">#}
{#        <div class="col-md">#}
{#            <div class="card text-center text-white  mb-3" id="events-registered">#}
{#                <div class="card-header">#}
{#                    <h5 class="card-title">Events Registered</h5>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <h3 class="card-title">damn it!!!!</h3>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="col">#}
{#        <div class="col-md">#}
{#            <div class="card text-center text-white  mb-3" id="history-events">#}
{#                <div class="card-header">#}
{#                    <h5 class="card-title">History Events</h5>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <h3 class="card-title">To be added</h3>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div>