{% extends 'eve_holder/main.html' %}

{% block content %}

    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                {% if visitor.private %}
                    <h5> Visitor Information : Private </h5>
                {% else %}
                    <h5> Visitor Information </h5>
                {% endif %}
            </div>
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <th>User name</th>
                        <th>Email</th>
                        <th>Phone number</th>
                    </tr>
                        <tr>
                            {% if visitor.private %}
                                <td> {{ visitor.name }} </td>
                                <td> ========== </td>
                                <td> ========== </td>
                            {% else %}
                                <td>{{ visitor.name }}</td>
                                <td>{{ visitor.email }}</td>
                                <td>{{ visitor.phone_num }}</td>
                            {% endif %}
                        </tr>
                </table>
            </div>
            <div>
                <hr>
                <a style="margin-right: auto" class="btn btn-sm btn-secondary" href="">Back</a>
                <a style="margin-left: auto" class="btn btn-sm btn-info" href="">Edit Information</a>
            </div>
        </div>
    </div>


{% endblock %}