{% extends 'eve_holder/main.html' %}

{% block content %}

    {% include 'eve_holder/notifications.html' %}    

    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Participated Events</h5>
                <table class="table table-sm">
                    <tr>
                        <th>Event</th>
                        <th>Description</th>
                        <th>Event Date</th>
                        <th>View</th>
                    </tr>

                    {% for event in events %}
                        <tr>
                            <td>{{ event.event_name }}</td>
                            <td>{{ event.event_description }}</td>
                            <td>{{ event.event_date }}</td>
                            <td><a class="btn btn-sm btn-primary"
                                   href="{% url 'eve_holder:event_detail' event.id %}">View</a></td>
                        </tr>
                    {% endfor %}


                </table>
            </div>
        </div>
    </div>

{% endblock %}