{% extends 'eve_holder/main.html' %}

{% block content %}

    <br>

    {% include 'eve_holder/messages.html' %}

    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body" style="min-height: 275px">
                <h5>Visitor: {{ visitors.user }}</h5>
                <hr>
                <a class="btn btn-outline-info  btn-sm btn-block"
                   href="{% url 'eve_holder:visitor_update_information' %}">Update Account</a>
                <a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'eve_holder:delete_account' %}">Delete
                    Account</a>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body" style="min-height: 275px">
                <h5>Contact Information</h5>
                <hr>
                <p>Firstname: {{ user.first_name }}</p>
                <p>Lastname: {{ user.last_name }}</p>
                <p>Email: {{ visitors.email }}</p>
                <p>Phone: {{ visitors.phone_num }}</p>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body" style="min-height: 275px">
                <h5>Total Events</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px">{{ events_count }}</h1>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Participated Events</h5>
                <table class="table table-sm">
                    <tr>
                        <th>Event</th>
                        <th>Description</th>
                        <th>Event Date</th>
                        <th>View</th>
                    </tr>

                    {% for event in events %}
                        <tr>
                            <td>{{ event.event_name }}</td>
                            <td>{{ event.event_description }}</td>
                            <td>{{ event.event_date }}</td>
                            <td><a class="btn btn-sm btn-primary"
                                   href="{% url 'eve_holder:event_detail' event.id %}">View</a></td>
                        </tr>
                    {% endfor %}


                </table>
            </div>
        </div>
    </div>

{% endblock %}